.global {
  min-height: calc(100vh - 247px) !important;
}
.show-add-team {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 1000 !important;
  display: flex;
  justify-content: center;
  padding-top: 20rem;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both !important;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both !important;
}
.container-team {
  width: 50% !important;
  height: fit-content;
  background-color: whitesmoke;
}
.marcador {
  height: 27px !important;
}
.admin-icon:hover {
  transform: scale(1.2, 1.2) !important;
}
#navigation {
  background-color: antiquewhite !important;
}
.fondo-principal {
  width: 100% !important;
  height: 500px !important;
  border: 1px solid black;
  border-radius: 10px;
  background-image: url("../image/portada_betsBar.jpg") !important;
  background-size: 100% 500px !important;
}
.titulo {
  font-size: 40px !important;
  margin-top: 5rem;
}
footer {
  width: 100% !important;
  height: 150px !important;
  background-color: rgb(54, 52, 52);
}
.contenedor {
  width: 100% !important;
  height: 150px;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media (max-width: 900px) {
  .container-team {
    width: 90% !important;
    height: fit-content;
    background-color: whitesmoke;
  }
}
